:root {
    --roxoEscuro: #5A189A;
    --lilas: #C77DFF;
    --verde: #2D6A4F;
    --cinza: #3C3C3C;
    --lilasClaro: #E0AAFF;
}

/*----------------------------
            inicio
-------------------------------*/

.inicio{
    display: flex;
    align-items: center;
    padding: 15vw 0 15vw 20vw;
}

.inicio h1{
    font-size: 4rem;
    padding: 0 20vw 0 0;
    text-align:center;
}

.inicio p{
    padding: 2vw 10vw 0 0;
    font-size: 2rem;
}

.inicio img{
    width:500px; 
    height:auto;
    padding: 0 4vw 0 0;
}

.inicio div ul{
    padding: 0 0 0 2vw;
}
.inicio div ul li{
    list-style: disc;
    padding: 1vw 0 0 0;
    font-size: 1.5rem;
}

.inicio div ul li#eucarionte{
    color: #2D6A4F;
}

.inicio div ul li#procarionte{
    color: #65AC92;
}

.carac h2{
    font-size: 2rem;
    text-align: center;
    padding: 0 0 3vw 0;
}

.cards-container {
    display: flex; /* Alinha os cards lado a lado */
    justify-content: center;
    gap: 200px; /* Espaçamento entre os cards */
    
}

/* Estilização dos cards */
.card {
    position: relative;
    padding: 3vw 0 3vw 0;
    width: 600px;
    height: auto;
    line-height: 1.7vw;
    margin-bottom: 10vw;
}

.card p{
    font-size: 1.5rem;
    padding: 1vw 7vw 0 7vw;
}

.card h3{
    font-size: 2rem;
    text-align: center;
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    border: 2px solid #2D6A4F; 
}

.card::before {
    top: -10px;
    left: -10px;
    width: calc(100% + 23px);
    height: calc(100% + 23px);
    border-right: none;
    border-bottom: none;
}

.card::after {
    bottom: -10px;
    right: -10px;
    width: calc(100% + 23px);
    height: calc(100% + 23px);
    border-left: none;
    border-top: none;
}

/*-------------------------------
            footer
--------------------------------*/

footer {
    background-color: #2D6A4F;
    color: white;
    position: relative;
    text-align: center;
    padding: 0.5vw 0 0.5vw 0
}

footer p {
    padding: 2vw 0 2vw 0;
    line-height: 1.7rem;
    font-size: 1.2rem;
}