/*----------------------------
            inicio
-------------------------------*/

.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15vw 0 15vw 0;
}

.titulo{
    margin-left:  1vw; 
}

.inicio h1 {
    text-align: center;
    margin-bottom: 3vw;
}

.inicio ul{
    margin-left: 2vw;
}

.inicio img {
    width:40vw;
}

.inicio div{
    width: 40%;
}


.inicio div ul li {
    list-style: disc;
    padding: 1vw 0 0 0;
}

.inicio div ul li#eucarionte {
    color: rgb(45, 106, 79);
}

.inicio div ul li#procarionte {
    color: rgb(101, 172, 146);
}

.carac h2 {
    text-align: center;
    padding: 0 0 3vw 0;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 8vw;
}

.card {
    position: relative;
    padding: 3vw 0 3vw 0;
    margin-bottom: 8vw;
    width: 40%;
}

.card p {
    padding: 1vw 2vw 0 2vw;
}

.card h3 {
    text-align: center;
}

.card::before,
.card::after {
    content: "";
    position: absolute;
    border: 0.2vw solid rgb(45, 106, 79);
}

.card::before {
    top: -1vw;
    left: -1vw;
    width: calc(100% + 2.3vw);
    height: calc(100% + 2.3vw);
    border-right: none;
    border-bottom: none;
}

.card::after {
    bottom: -1vw;
    right: -1vw;
    width: calc(100% + 2.3vw);
    height: calc(100% + 2.3vw);
    border-left: none;
    border-top: none;
}