:root {
    --roxoEscuro: #5A189A;
    --lilas: #C77DFF;
    --verde: #2D6A4F;
    --cinza: #3C3C3C;
    --lilasClaro: #E0AAFF;
}

/*----------------------------------
            SEC TITULO
------------------------------------*/

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo h1{
    font-size: 4rem;
    padding: 13vw 0 2vw 0;
}

.titulo p{
    font-size: 1.5rem;
    padding: 0 14vw 18vw 14vw;
}

/*------------------------------------
        SEC CICLO-CELULAR
--------------------------------------*/

.ciclo-celular{
    border: 3px solid #2D6A4F;
    padding: 7vw 3vw;
    margin: 4vw 10vw 10vw 10vw;
}

.ciclo-celular h2{
    text-align: center;
    font-size: 3rem;
    margin: 0 0 3vw 0;
}

.ciclo-celular p{
    text-align: start;
    font-size: 1.4rem;
    padding: 0 15vw 2vw 15vw;
}

/*================ Cartas das fases =====================*/

.ciclo-celular .fases{
    display: flex;
    gap: 15vw;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
}

.ciclo-celular .fases .carta {
    width: 230px;
    height: 250px;
    perspective: 1000px; 
}

.ciclo-celular .fases .carta p{
    padding: 0;
    font-size: 1.4rem;
}

.ciclo-celular .fases .carta-conteudo {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.ciclo-celular .fases .carta:hover .carta-conteudo {
    transform: rotateY(180deg);
}

.ciclo-celular .fases .frente,
.ciclo-celular .fases .verso {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; /* Esconde o lado de trás quando não está visível */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.frente {
    background-color: #EDD48E; /* Cor bege */
}

.verso {
    background-color: #2D6A4F; /* Cor verde */
    color: white;
    transform: rotateY(180deg);
}

/*-------------------------------------------------
                SEC MITOSE  
-------------------------------------------------*/

.mitose{
    border: 5px solid;
    background-color: #8959A4;
    margin: 0 4vw;
    padding: 0 0 2vw 0;
    border-radius: 10px;
}

.mitose h2{
    font-size: 4rem;
    background-color: black;
    color: wheat;
    text-align: center;
    border-radius: 10px 10px 0 0;
    /* Bordas arredondadas no topo */
    text-align: center;
    padding: 10px;
    margin: -3vw 20vw 5vw 20vw;
}

.mitose p{
    font-size: 1.7rem;
    line-height: 2vw;
    padding: 0 15vw 0 15vw;
}

.mitose p#etapas{
    text-align: center;
    padding: 4vw;
    font-size: 1.8rem;
}

/*  ███████████████████████████
    ███████▀▀▀░░░░░░░▀▀▀███████
    ████▀░░░░░░░░░░░░░░░░░▀████
    ███│░░░░░░░░░░░░░░░░░░░│███C
    ██▌│░░░░░░░░░░░░░░░░░░░│▐██A
    ██░└┐░░░░░░░░░░░░░░░░░┌┘░██R
    ██░░└┐░░░░░░░░░░░░░░░┌┘░░██T
    ██░░┌┘▄▄▄▄▄░░░░░▄▄▄▄▄└┐░░██A
    ██▌░│██████▌░░░▐██████│░▐██S
    ███░│▐███▀▀░░▄░░▀▀███▌│░███
    ██▀─┘░░░░░░░▐█▌░░░░░░░└─▀██
    ██▄░░░▄▄▄▓░░▀█▀░░▓▄▄▄░░░▄██
    ████▄─┘██▌░░░░░░░▐██└─▄████
    █████░░▐█─┬┬┬┬┬┬┬─█▌░░█████
    ████▌░░░▀┬┼┼┼┼┼┼┼┬▀░░░▐████
    █████▄░░░└┴┴┴┴┴┴┴┘░░░▄█████
    ███████▄░░░░░░░░░░░▄███████
    ██████████▄▄▄▄▄▄▄██████████
    ███████████████████████████*/

        .mitose-Carta {
            display: flex;
            gap: 50px;
            padding: 20px 10vw;
        }

        .cartasBack-mitose {
            background-color: white;
            padding: 15px;
            border-radius: 15px;
            border: 3px solid black;
            width: 260px;
            height: 400px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .cartasColor-mitose {
            width: 260px;
            height: 400px;
            background-color: #48A27A;
            border-radius: 15px;
            border: 4px solid #2D6A4F;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 20px;
            color: white;
            font-family: Arial, sans-serif;
        }

        .cartasColor-mitose #tituloCarta {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            margin-bottom: 15px;
            position: relative;
        }

        .cartasColor-mitose #tituloCarta span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            background-color: #48A27A;
            border-radius: 50%;
            font-size: 2.6rem;
            border: 6px solid white;
            position: absolute;
            top: -30px;
            left: -30px;
            font-family: 'Times New Roman', Times, serif;
            color: white;
        }

        .cartasColor-mitose #tituloCarta h3 {
            font-size: 2.4rem;
            color: black;
            margin: -6% 0 0 -250%;
            padding: 0;
        }

        .cartasColor-mitose p:last-child {
            color: black;
            font-size: 1.2rem;
            line-height: 1vw;
            margin-top: 5px;
            padding: 0;
        }

/*-------------------------------------------------
                SEC meiose  
-------------------------------------------------*/

.meiose{
    border: 5px solid;
    background-color: #8959A4;
    margin: 10vw 4vw;
    border-radius: 10px;
    padding: 0 0 2vw 0;
}

.meiose h2{
    font-size: 4rem;
    background-color: black;
    color: wheat;
    text-align: center;
    border-radius: 10px 10px 0 0;
    /* Bordas arredondadas no topo */
    text-align: center;
    padding: 10px;
    margin: -3vw 20vw 5vw 20vw;
}

.meiose p{
    font-size: 1.7rem;
    line-height: 2vw;
    padding: 0 15vw 0 15vw;
}

.meiose p#etapas{
    text-align: center;
    padding: 4vw;
    font-size: 1.8rem;
}

/*  ███████████████████████████
    ███████▀▀▀░░░░░░░▀▀▀███████
    ████▀░░░░░░░░░░░░░░░░░▀████
    ███│░░░░░░░░░░░░░░░░░░░│███C
    ██▌│░░░░░░░░░░░░░░░░░░░│▐██A
    ██░└┐░░░░░░░░░░░░░░░░░┌┘░██R
    ██░░└┐░░░░░░░░░░░░░░░┌┘░░██T
    ██░░┌┘▄▄▄▄▄░░░░░▄▄▄▄▄└┐░░██A
    ██▌░│██████▌░░░▐██████│░▐██S
    ███░│▐███▀▀░░▄░░▀▀███▌│░███
    ██▀─┘░░░░░░░▐█▌░░░░░░░└─▀██
    ██▄░░░▄▄▄▓░░▀█▀░░▓▄▄▄░░░▄██
    ████▄─┘██▌░░░░░░░▐██└─▄████
    █████░░▐█─┬┬┬┬┬┬┬─█▌░░█████
    ████▌░░░▀┬┼┼┼┼┼┼┼┬▀░░░▐████
    █████▄░░░└┴┴┴┴┴┴┴┘░░░▄█████
    ███████▄░░░░░░░░░░░▄███████
    ██████████▄▄▄▄▄▄▄██████████
    ███████████████████████████*/

    .meiose-Cartas {
        display: flex;
        gap: 50px;
        padding: 20px 10vw;
    }

    .cartasBack-meiose {
        background-color: white;
        padding: 15px;
        border-radius: 15px;
        border: 3px solid black;
        width: 260px;
        height: 400px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .cartasColor-meiose {
        width: 260px;
        height: 400px;
        background-color: #48A27A;
        border-radius: 15px;
        border: 4px solid #2D6A4F;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
        color: white;
        font-family: Arial, sans-serif;
    }

    .cartasColor-meiose #tituloCarta {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 15px;
        position: relative;
    }

    .cartasColor-meiose #tituloCarta span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: #48A27A;
        border-radius: 50%;
        font-size: 2.6rem;
        border: 6px solid white;
        position: absolute;
        top: -30px;
        left: -30px;
        font-family: 'Times New Roman', Times, serif;
        color: white;
    }

    .cartasColor-meiose #tituloCarta h3 {
        font-size: 2.4rem;
        color: black;
        margin: -6% 0 0 -250%;
        padding: 0;
    }

    .cartasColor-meiose p:last-child {
        color: black;
        font-size: 1.2rem;
        line-height: 1vw;
        margin-top: 5px;
        padding: 0;
    }

/*  ███████▀▀▀░░░░░░░▀▀▀███████
    ████▀░░░░░░░░░░░░░░░░░▀████
    ███│░░░░░░░░░░░░░░░░░░░│███C
    ██▌│░░░░░░░░░░░░░░░░░░░│▐██A
    ██░└┐░░░░░░░░░░░░░░░░░┌┘░██R
    ██░░└┐░░░░░░░░░░░░░░░┌┘░░██T
    ██░░┌┘▄▄▄▄▄░░░░░▄▄▄▄▄└┐░░██A
    ██▌░│██████▌░░░▐██████│░▐██S
    ███░│▐███▀▀░░▄░░▀▀███▌│░███
    ██▀─┘░░░░░░░▐█▌░░░░░░░└─▀██
    ██▄░░░▄▄▄▓░░▀█▀░░▓▄▄▄░░░▄██
    ████▄─┘██▌░░░░░░░▐██└─▄████
    █████░░▐█─┬┬┬┬┬┬┬─█▌░░█████
    ████▌░░░▀┬┼┼┼┼┼┼┼┬▀░░░▐████
    █████▄░░░└┴┴┴┴┴┴┴┘░░░▄█████
    ███████▄░░░░░░░░░░░▄███████
    ██████████▄▄▄▄▄▄▄██████████*/

    .meiose-Cartas2 {
        display: flex;
        gap: 50px;
        padding: 20px 6vw;
    }

    .cartasBack-meiose2 {
        background-color: white;
        padding: 15px;
        border-radius: 15px;
        border: 3px solid black;
        width: 260px;
        height: 400px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .cartasColor-meiose2 {
        width: 260px;
        height: 400px;
        background-color: #48A27A;
        border-radius: 15px;
        border: 4px solid #2D6A4F;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 20px;
        color: white;
        font-family: Arial, sans-serif;
    }

    .cartasColor-meiose2 #tituloCarta {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 15px;
        position: relative;
    }

    .cartasColor-meiose2 #tituloCarta span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: #48A27A;
        border-radius: 50%;
        font-size: 2.6rem;
        border: 6px solid white;
        position: absolute;
        top: -30px;
        left: -30px;
        font-family: 'Times New Roman', Times, serif;
        color: white;
    }

    .cartasColor-meiose2 #tituloCarta h3 {
        font-size: 2.4rem;
        color: black;
        margin: -6% 0 0 -250%;
        padding: 0;
    }

    .cartasColor-meiose2 p:last-child {
        color: black;
        font-size: 1.2rem;
        line-height: 1vw;
        margin-top: 5px;
        padding: 0;
    }

    /*======================================================== FLECHAS ==================================*/

    .meiose-Cartas .arrow, .meiose-Cartas2 .arrow {
        background-color: #8959A4;
        border: 0;
        transform: scale(3.4);
        margin: 11vw 0;
    }

    .meiose-Cartas .arrow:hover, .meiose-Cartas2 .arrow:hover {
        transform: scale(3.6);
        cursor: pointer;
    }

    .meiose-Cartas, .meiose-Cartas2 {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }
    
    .meioseEscondida {
        opacity: 0;
        pointer-events: none; /* Evita que o usuário interaja com elementos invisíveis */
        position: absolute;
    }