/*--------------------------------------
            Juncão Celular
----------------------------------------*/

.juncao {
    padding: 6vw 0 6vw 0;
    text-align: center;
    margin-bottom: 5vw;
}

.juncao div p {
    margin: 1vw 20vw;
}

.juncao div {
    display: flex;
}

/*--------------------------------------
            Desmossomos
----------------------------------------*/

.desmossomos {
    background-color: var(--verdeClaro);
    padding: 0 0 6vw 0;
}

.desmossomos h2 {
    text-align: center;
    margin: 0 0 4vw 0;
}

.desmossomos p:first-of-type {
    margin: 0 28vw 0 10vw;
}

.desmossomos p:last-of-type {
    margin: 1vw 10vw 0 35vw;
}

/*--------------------------------
        .Juncoes aderentes
----------------------------------*/

.juncoes-aderentes {
    background-color: var(--verde);
    padding: 6vw 0;
}

.juncoes-aderentes h2:first-of-type {
    margin: 0 0 0 15vw;
    color: #EDD48E;
}

.juncoes-aderentes h2:last-of-type {
    text-align: end;
    margin: 0 15vw 0 0;
    color: #EDD48E;
}

.juncoes-aderentes p {
    margin: 1vw 25vw;
}

/*--------------------------------
        .Juncoes comunicantes
----------------------------------*/

.juncoes-comunicantes {
    background-color: var(--verdeEscuro);
    padding: 8vw;
}

.juncoes-comunicantes #background {
    background-color: #EDD48E;
    padding: 5vw 5vw 5vw 5vw;
    text-align: center;
    align-items: center;
    box-shadow: 4px 4px 30px black;
}

.juncoes-comunicantes #background #textos {
    display: flex;
    text-align: left;
    gap: 5vw;
    margin-top: 4vw;
}

.juncoes-comunicantes #background #textos p{
    width: 50%;
}

.juncoes-comunicantes #background #textos p:last-child{
    margin-top: 1vw;
}
