:root {
    --roxoEscuro: #5A189A;
    --lilas: #C77DFF;
    --verdeClaro: #53997A;
    --verde: #498A6D;
    --verdeEscuro: #2D6A4F;
    --cinza: #3C3C3C;
    --lilasClaro: #E0AAFF;
}

/*--------------------------------------
            Juncão Celular
----------------------------------------*/

.juncao{
    padding: 6vw 0 7vw 0;
    text-align: center;
}

.juncao h1{
    font-size: 6rem;}

.juncao div p{
    font-size: 2rem;
    margin: 1vw 35vw;
}

.juncao div{
    display: flex;
}

/*--------------------------------------
            Desmossomos
----------------------------------------*/

.desmossomos{
    background-color: var(--verdeClaro);
    padding: 3vw 0 5vw 0;
}

.desmossomos h2{
    font-size: 7rem;
    text-align: center;
    margin: 0 0 4vw 0;
}

.desmossomos p:first-of-type{
    font-size: 2.3rem;
    margin: 0 28vw 0 10vw;
}

.desmossomos p:last-of-type{
    font-size: 2.3rem;
    margin: 1vw 10vw 0 35vw;
}
/*--------------------------------
        .Juncoes aderentes
----------------------------------*/
.juncoes-aderentes{
    background-color: var(--verde);
    padding: 5vw 0;
}
.juncoes-aderentes h2{
    font-size: 5rem;
}
.juncoes-aderentes h2:first-of-type{
    margin: 0 0 0 15vw;
}
.juncoes-aderentes h2:last-of-type{
    text-align: end;
    margin: 0 15vw 0 0;
}
.juncoes-aderentes p{
    font-size: 1.8rem;
    margin: 1vw 25vw;
}
/*--------------------------------
        .Juncoes comunicantes
----------------------------------*/
.juncoes-comunicantes{
    background-color: var(--verdeEscuro);
    padding: 8vw;
}
.juncoes-comunicantes #background{
    background-color: #EDD48E;
    padding: 20vw 5vw 5vw 5vw;
    text-align: center;
    align-items: center;
    box-shadow: 4px 4px 30px black;
}
.juncoes-comunicantes #background #textos{
    display: flex;
    text-align: left;
    padding: 1vw 0 0 10vw;
}
.juncoes-comunicantes #background #textos p{
    font-size: 2rem;
    padding: 0 7vw 0 0;
}
.juncoes-comunicantes h2{
    font-size: 6rem;
}