/*-------------------------------------------
            SEC TITULO 
---------------------------------------------*/

.titulo {
    text-align: center;
}

.titulo h1 {
    margin: 5vw 0 2vw 0;
}

.titulo a {
    margin: 2vw 13vw;
}

.titulo #tags {
    display: flex;
    justify-content: center;
    margin: 5vw 0 2.6vw 0;
}

.introducao {
    margin: 0 15vw;
}

.titulo #tags a {
    margin: 0 2vw;
    border: 0.2vw solid rgb(19, 19, 19);
    border-radius: 1vw;
    padding: 1vw 1vw;
}

.titulo #tags a {
    color: black;
    font-size: 2vw;
}

.titulo #tags a:hover {
    background-color: #f1ecc5;
}

/*------------------------------------------
            SEC QUADROS
--------------------------------------------*/

.quadros h2 {
    text-align: center;
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}

.quadros div.quadro {
    border: 0.2vw solid black;
    border-radius: 1vw;
    margin: 3vw 25vw;
    padding: 0 0 2vw 0;
}

.quadros div h2 {
    border-bottom: 0.2vw solid black;
    padding: 1vw 0;
    font-weight: bold;
}

.quadros div#importancia h2 {
    background-color: white;
}

.quadros div#metabolismo h2 {
    background-color: var(--lilasClaro);
}

.quadros div#energia h2 {
    background-color: var(--lilas);
}

.quadros div.quadro div.textos {
    margin: 3vw 7vw 0 7vw;
}

.quadros div.quadro div.textos ul {
    text-align: start;
    list-style: circle;
    margin: 1vw 3vw;
}

/*============ Catabolismo e Anabolismo ============*/

.arrow {
    transform: scale(1.25);
    border: 0;
    background-color: #F4F1DE;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.arrow:hover {
    transform: scale(1.45);
}

/*------------------------------------------------------------
                    SEC PROCESSOS
--------------------------------------------------------------*/

.processos {
    background-color: #4f291e;
    padding: 0 0 6vw 0;
}

.processos h2 {
    text-align: center;
    color: #f1ecc5;
    padding: 5vw 0;
}

.processos .divGrande {
    margin: 0 5vw;

}

.processos .divGrande #divMedio h3,
.processos #divMedio1 h3 {
    color: #d95130;
    font-weight: bold;
}

.processos #divMedio {
    margin-bottom: 5vw;
    border: 0.3vw solid #d95130;
    background-color: #e4d9ba;
    box-shadow: -1vw 1vw 0 0 #d95130;
    border-radius: 3vw;
    padding: 1vw;
    transition: box-shadow .2s ease-in;
}

.processos #divMedio1 {
    border: 0.3vw solid #d95130;
    background-color: #e4d9ba;
    box-shadow: -1vw 1vw 0 0 #d95130;
    border-radius: 3vw;
    padding: 1vw;
    transition: box-shadow .2s ease-in;
    margin: 5vw 30vw 0 30vw;
}

.processos .divGrande #divPequena {
    background-color: rgb(224, 149, 174);
    border-radius: 2vw;
    color: #4f291e;
    padding: 1vw 2vw;
}

.processos .divGrande #divPequena1 {
    background-color: #46a19e;
    border-radius: 2vw;
    color: #4f291e;
    padding: 1vw 2vw;
}

.processos #divPequena3 {
    background-color: #deae0e;
    border-radius: 2vw;
    color: #4f291e;
    padding: 1vw 2vw;
}

.table {
    min-width: 60vw;
    border-radius: 2vw;
    overflow: hidden;
    margin-bottom: 1vw;
}

.table thead tr {
    background-color: #343a40;
    color: #ffffff;
    text-align: left;
}

.table th,
.table td {
    padding: 0.5vw 1.5vw;
}

.table tbody tr {
    border-bottom: 0.1vw solid #000000;
}

.table tbody tr:last-of-type {
    border-bottom: 0.2vw solid #343a40;
}