/*--------------------------------
            sec inicio
----------------------------------*/
.inicio h1{
    text-align: center;
    font-size: 5rem;
    padding: 5vw 20vw 0 0;
}

.inicio p{
    font-size: 2rem;
    margin: 1vw 25vw 7vw 30vw;
    line-height: 2.5vw;
}

/*-----------------------
        sec organelas
--------------------------*/

.container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.scroll-container {
    display: flex;
    overflow-x: hidden;
    gap: 15px;
    padding: 10px;
    white-space: nowrap;
    scroll-behavior: smooth;
    border-bottom: 2px solid #ddd;
    width: calc(100% - 80px);
    /* Deixa espaço para as setas */
}

.scroll-container button {
    font-size: 25px;
    padding: 10px 20px;
    border: 2px solid #4a6c4a;
    background-color: white;
    color: #4a6c4a;
    border-radius: 20px;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s, color 0.3s;
}

.scroll-container button:hover {
    background-color: #4a6c4a;
    color: white;
}

.arrow {
    font-size: 30px;
    color: #4a6c4a;
    cursor: pointer;
    user-select: none;
    background: none;
    border: none;
    padding: 0;
    transition: transform 0.3s;
}

.arrow:hover {
    transform: scale(1.2);
}

.info-box {
    margin: 2vw 5vw;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
    display: none;
}

.info-box h2 {
    font-size: 3rem;
    margin: 0 0 10px 0;
    color: #4a6c4a;
    text-align: center;
}

.info-box p {
    font-size: 1.5rem;
    color: #333;
}

/*-------------------------------------

---------------------------------------*/



/*-------------------------------
            footer
--------------------------------*/

footer {
    background-color: #2D6A4F;
    color: white;
    position: relative;
    text-align: center;
    padding: 0.5vw 0 0.5vw 0
}

footer p {
    padding: 2vw 0 2vw 0;
    line-height: 1.7rem;
    font-size: 1.2rem;
}