/*-------------------------------
    section TÍTULO
---------------------------------*/
section.titulo {
    text-align: center;
    padding: 16.4vw 0 10vw 0; 
}

section.titulo h1 {
    color: var(--roxoEscuro);
    margin: 0;
}

section.titulo img {
    position: relative;
    margin: -23vw 0 0 0;
    height: 100vh;
    width: 100%; border-bottom: 0.3vw solid rgb(199, 125, 255);
}

/*-------------------------------
    section CITOLOGIA
---------------------------------*/
section div.citologia {
    text-align: center;
    margin: 0 20vw 0 20vw;
    border: rgb(45, 106, 79) 0.5vw solid;
    border-radius: 0.5vw;
    padding: 3vw 5vw 3vw 5vw;
}

section div.citologia h2 {
    color: var(--roxoEscuro);
}

section div.citologia p {
    text-align: left;
}

/*--------------------------------------
    section CONTEUDOS
-------------------------------------*/
section.conteudos {
    padding: 10vw 5vw 5vw 5vw;
}

section.conteudos h2 {
    color: var(--roxoEscuro);
    padding: 0 0 2vw 4vw;
}

section.conteudos div {
    border-radius: 0.2vw;
    border-top: var(--verde) 0.5vw solid;
    margin-top: 2vw;
    margin-bottom: 4vw;
}

section.conteudos div h3 {
    padding: 3vw 0 0 4vw;
}

section.conteudos div p {
    padding: 2vw 20vw 2vw 20vw;
}

section.conteudos div a {
    border: var(--cinza) 0.3vw solid;
    padding: 0.8vw 2.2vw 0.8vw 2.2vw;
    margin: 1vw 20vw;
}